.image{
    position: relative;
}

.image::before{
    content:" ";
    width: 100%;
    height: 100%;
    display: block;
    background-color:grey;
    position: absolute;
    opacity: 70%;

}

.text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

.review{
   background-color: red;
   color: white;
   font-size: 25px;
   outline: 0;
   height: 46px;
    width: 160px;
}

.review:hover{
    background-color: transparent;
    color: red;
    box-shadow:0px 0px 7px 5px red;
}

.introduction{
    width: 100%;
    height: 300px;
    background-color:rgb(76, 74, 88);
    text-align:center;
    color: white;
}

p{
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
    margin: 10px;
}

h3{
    padding-top: 40px;
    text-align: center;
}

.imaginea_1{
    width: 300px;
    height: 150px;
    display: inline block;
}

.profil{
    padding-top: 50px;
    text-align: center;
}

.latter{
    width: 100%;
    height: 270px;
    background-color: gray;
}

.scrisoare{
    border: 1px solid #ccc;
   padding: 7px;

}

.text_2{
    height: 250px;
    text-align: center;
}

.lambo{
text-align: center;
padding-top: 10px;
}

.wb{
    padding-top: 20px;
}

hr{
    color:gray;
}

.copy{
    text-align: center;
    padding-bottom: 10px;
}
.col-lg-6{
    padding-bottom: 10px;
}
@media only screen and (max-width:800px){
.profil{
    display: block;
}
.latter{
    max-width: 100%;
    height: auto;
    background-color: gray;
    display: block;
}
.review {
    background-color: red;
    color: white;
    font-size: 18px;
    outline: 0;
    height: 32px;
    width: 115px;
}
.review:hover{
    background-color: transparent;
    color: red;
    box-shadow:0px 0px 7px 5px red;
}
.copy{
    text-align: center;
    padding-bottom: 10px;
}
p {
    font-size: 21px;
    text-align: center;
    padding-bottom: 40px;
    margin: 10px;
}
}